@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body{
  font-family: Montserrat;
}

.email-text{
  font-weight: 500;
  font-size: 1rem;
}

.img-home{
  max-width: 150px;
  clip-path: circle(40% at 50% 50%);
}

h1{
  font-weight: 600;
}
h4{
  font-weight: 400;
}

.btn-rd{
  border-radius: 30px !important;
  padding: 5px 20px;
}

#resume{
  margin-top: 25vh;
} 

.content-inner-about{
  margin-bottom: 10vh;
}

@media only screen and (min-width:800px) {
  .content-about{ 
    padding: 80px 250px;
  }
}

@media only screen and (max-width:800px) {
  .content-about{
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .email-text{
    display: none;
  }
}